.icon {
  margin: 5px;
  padding: 5px;
  background-color: rgb(46, 46, 46);
  /* border-radius: 5px; */
  color: rgb(155, 155, 155);
  font-size: 30px;
}
.icon:hover {
  background-color: rgb(250, 25, 25);
}
.footer-menu {
  list-style: none;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}
.footer-menu:hover {
  color: red;
}
.footer-input {
  padding: 12px;
  border: none;
  outline: none;
  background-color: whitesmoke;
  border-radius: 5px;
}
.footer-container {
  background-color: rgb(33, 37, 41);
  padding: 50px;
  color: rgb(216, 209, 209);
}
.foter-phone-icon {
  font-size: 30px;
  color: red;
}
